@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-login">

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="Input.Username" type="text" class="form-control" placeholder="Username">

                    </div>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">

                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="row align-items-center remember">
                        <input asp-for="Input.RememberMe" type="checkbox" /> @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">

                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
