@page "/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-register">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 800px;">
            <div class="card-header">
                <h3>Sign Up</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <div class="row">

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.Username" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input asp-for="Input.Username" type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.Email" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.Password" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.ConfirmPassword" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.FirstName" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="Firstname">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.LastName" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Lastname">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.Age" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                                </div>
                                <input asp-for="Input.Age" type="number" min="14" max="104" class="form-control" placeholder="Age">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.Address" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                </div>
                                <input asp-for="Input.Address" type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span asp-validation-for="Input.Description" class="bg-danger text-white"></span>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                                </div>
                                <textarea asp-for="Input.Description" rows="4" style="resize:none" type="text" class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right login_btn">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Already have an account?<a asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
