@using PetGuide.Data.Models.Enums
@model PetGuide.Web.ViewModels.Pets.SearchPetListViewModel

<main id="main">
    <!-- ======= Search Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <!-- Search Bar -->
            <div class="card w-100 mt-5">
                <div class="card-header">
                    <h3>Search Filter</h3>
                    <div class="d-flex justify-content-end search_icon">
                        <span><i class="fas fa-paw"></i></span>
                        <span><i class="fas fa-dog"></i></span>
                        <span><i class="fas fa-cat"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">

                        <div class="row">

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Type" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-question-circle"></i></span>
                                        <select asp-for="Type" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetType>()">
                                            <option placeholder="" value="">Type</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Color" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-palette"></i></span>
                                        <select asp-for="Color" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetColor>()">
                                            <option placeholder="" value="">Color</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">

                                <span asp-validation-for="Age" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                                    </div>
                                    <input asp-for="Age" type="text" class="form-control" placeholder="Age in years">

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Size" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-weight"></i></span>
                                        <select asp-for="Size" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetSize>()">
                                            <option placeholder="" value="">Size</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">

                                <span asp-validation-for="District" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        <select asp-for="District" style="width:100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<District>()">
                                            <option placeholder="" value="">District</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">

                                <span asp-validation-for="Street" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                    </div>
                                    <input asp-for="Street" type="text" class="form-control" placeholder="Street">

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <span asp-validation-for="Status" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <span class="input-group-text"><i class="fas fa-question-circle"></i></span>
                                        <select asp-for="Status" style="width: 100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" class="form-control" asp-items="Html.GetEnumSelectList<PetStatus>()">
                                            <option placeholder="" value="">Status</option>
                                        </select>

                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-8 col-md-6">

                                <span asp-validation-for="Description" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                                    </div>
                                    <textarea asp-for="Description" rows="1" style="resize:none" type="text" class="form-control" placeholder="Key words"></textarea>

                                </div>

                            </div>


                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 mx-auto">
                                <div class="form-group mb-0 text-center">
                                    <input type="submit" value="Search" class="btn search_btn" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Search Bar -->
            <div>
                <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div>

            @*<section id="portfolio" class="portfolio" style="padding-top: 60px">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-lost">Lost Pets</li>
                                <li data-filter=".filter-spotted">Spotted Pets</li>
                                <li data-filter=".filter-found">Found Pets</li>
                            </ul>
                        </div>
                    </div>
                </section>*@

            <div>
                <div class="mt-5" data-aos="fade-up">

                    <form>
                        <h1 class="text-center">Results</h1>
                        <div class="inner-form">

                            <section id="portfolio" class="portfolio">
                                <div class="row mt-3 portfolio-container">

                                    @foreach (var pet in Model.Pets)
                                    {
                                        <div class="col-lg-4 col-md-6 portfolio-item filter-lost">
                                            <div class="portfolio-wrap">
                                                <img src="~/img/animal-video.jpg" class="img-fluid" alt="">
                                                <div class="portfolio-info">
                                                    <h4>@pet.Name</h4>
                                                    <p>@Html.DisplayFor(x => pet.Type)</p>
                                                    <div class="portfolio-links">
                                                        <a href="~/img/animal-video.jpg" data-gall="portfolioGallery" class="venobox" title="@pet.Name"><i class="icofont-image"></i></a>
                                                        <a asp-action="Details" asp-route-id="@pet.Id" title="More Details"><i class="bx bx-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </section>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

@section LoginRegisterAdd {
    <link href="~/css/login-register.css" type="text/css" rel="stylesheet" asp-append-version="true">
}