<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon" />
    <link href="~/favicon-image.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/icofont/src/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox/venobox.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet">
    <link href="~/lib/line-awesome/dist/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="~/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/aos/dist/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true">

    @if (IsSectionDefined("LoginRegisterAdd"))
    {
        @await this.RenderSectionAsync("LoginRegisterAdd", required: true)
    }

    <!--Pet List CSS File-->
    <link href="~/css/pet-list.css" rel="stylesheet" asp-append-version="true">

    <!--Pet Post Gallery CSS File-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" asp-append-version="true">
    <link href="~/css/gallery.css" rel="stylesheet" asp-append-version="true">

    @if (IsSectionDefined("Calendar"))
    {
        @await this.RenderSectionAsync("Calendar", required: true)
    }

    @if (IsSectionDefined("Modal"))
    {
        @await this.RenderSectionAsync("Modal", required: true)
    }

    @if (IsSectionDefined("EventListing"))
    {
        @await this.RenderSectionAsync("EventListing", required: true)
    }

</head>
<body>
    @this.RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/lib/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/lib/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/venobox/venobox/venobox.min.js"></script>
    <script src="~/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="~/lib/aos/dist/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/login-register.js" asp-append-version="true"></script>

    <!--Pet Post Gallery JS File-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" asp-append-version="true"></script>
    <script src="~/js/gallery.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>

