@using PetGuide.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon" />
    <link href="~/favicon-image.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/icofont/src/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox/venobox.min.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet">
    <link href="~/lib/line-awesome/dist/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="~/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/aos/dist/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true">

    @if (IsSectionDefined("LoginRegisterAdd"))
    {
        @await this.RenderSectionAsync("LoginRegisterAdd", required: true)
    }

    <!--Pet List CSS File-->
    <link href="~/css/pet-list.css" rel="stylesheet" asp-append-version="true">

    <!--Pet Post Gallery CSS File-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" asp-append-version="true">
    <link href="~/css/gallery.css" rel="stylesheet" asp-append-version="true">

    @if (IsSectionDefined("Calendar"))
    {
        @await this.RenderSectionAsync("Calendar", required: true)
    }

    @if (IsSectionDefined("EventListing"))
    {
        @await this.RenderSectionAsync("EventListing", required: true)
    }

    @if (IsSectionDefined("PictureUpload"))
    {
        @await this.RenderSectionAsync("PictureUpload", required: true)
    }

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo mr-auto">

                <a href="/"><img src="~/img/PetGuideLogo.png" alt="PetGuideLogo" width="120" class="img-fluid"></a>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item active">
                            <a class="nav-link">Hello, @this.User.Identity.Name</a>
                        </li>
                    }


                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>



                    @{
                        if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="drop-down">
                                <a>Pets</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="Pets" asp-action="All">All Pets</a></li>
                                    <li><a asp-area="" asp-controller="Pets" asp-action="My">My Pets</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Pets" asp-action="All">Pets</a>
                            </li>
                        }

                    }


                    <li class="nav-item">
                        <a class="nav-linkk" asp-area="" asp-controller="Pets" asp-action="Search">Search</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-linkk" asp-area="" asp-controller="Posts" asp-action="All">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-linkk" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-linkk" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    @{
                        if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="nav-item">
                                <a class="nav-linkk" asp-area="Administration" asp-controller="Administration" asp-action="Events">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-linkk" asp-area="Administration" asp-controller="Administration" asp-action="Shelters">Shelters</a>
                            </li>
                        }
                        if (User.IsInRole(GlobalConstants.UserRoleName))
                        {
                            <li class="nav-item">
                                <a class="nav-linkk" asp-area="" asp-controller="Events" asp-action="All">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-linkk" asp-area="" asp-controller="Shelters" asp-action="All">Shelters</a>
                            </li>
                        }
                    }

                    <li class="get-started">

                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="nav-linkk">Logout</button>
                                </form>
                            }
                            else
                            {
                                <a class="nav-linkk" asp-area="Identity" asp-page="/Account/Login">Get Involved</a>
                            }
                        }

                    </li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    @*<partial name="_CookieConsentPartial" />*@
    @this.RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>PetGuide</h3>
                        <p>
                            <em>
                                “Animals are reliable, many full of love, true in their affections,
                                predictable in their actions, grateful and loyal.
                                Difficult standards for people to live up to.”
                            </em>
                        </p>
                        <br />
                        <p> – Alfred A. Montapert</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            If you have suggestions regarding our furry friends
                            or want to help in any way, we will be happy if you contact us.
                        </p>

                        <div class="social-links">
                            <ul>
                                <li><a href="https://www.facebook.com"><i class="icofont-facebook"></i></a>facebook.com/petguide</li>
                                <li><a href="https://www.instagram.com"><i class="icofont-instagram"></i></a>instagram.com/petguide</li>
                                <li><a href="mailto:riva.ivanova@abv.bg"><i class="icofont-email"></i></a>petguide@@gmail.com</li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>You want to stay informed of our latest updates regarding pets? Then please leave your email below.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                All Rights Reserved  &copy; <strong><span> PetGuide </span></strong>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-paw"></i></a>


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/lib/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/lib/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/venobox/venobox/venobox.min.js"></script>
    <script src="~/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="~/lib/aos/dist/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/login-register.js" asp-append-version="true"></script>

    <!--Pet Post Gallery JS File-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" asp-append-version="true"></script>
    <script src="~/js/gallery.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)


</body>
</html>
