@model PetGuide.Web.ViewModels.Pictures.UploadPicturesInputModel

<main id="main">
    <div class="container-register">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="width: 800px">
                <div class="card-header">
                    <h3>Add pictures</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fas fa-image"></i></span>
                        <span><i class="fas fa-dog"></i></span>
                        <span><i class="fas fa-cat"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-10">
                                <span asp-validation-for="Pictures" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-image"></i></span>
                                    </div>
                                    <input asp-for="Pictures" type="file" multiple="multiple" name="pictures" class="form-control">
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn float-right login_btn" />
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        @foreach (var picture in Model.PicturesToShow)
                        {
                            <div class="col-lg-6 col-md-4 col-xs-6 thumb">
                                <a href="@picture.Name.Replace("Thumbnail", "Fullscreen")" class="fancybox" rel="ligthbox">
                                    <img src="@picture.Name.Replace("Thumbnail", "Fullscreen")" class="zoom img-fluid " alt="">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

@section LoginRegisterAdd {
    <link href="~/css/login-register.css" type="text/css" rel="stylesheet" asp-append-version="true">
}