@using PetGuide.Data.Models.Enums
@model PetGuide.Web.ViewModels.Posts.PostInputModel

<main id="main">
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 mx-auto pt-3 entries">

                    <article class="entry entry-single">

                        <div class="card-body p-0">

                            <form method="post">

                                <div class="entry-content ml-3">
                                    <h3>Article title</h3>
                                </div>

                                <span asp-validation-for="Title" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <textarea asp-for="Title" rows="1" style="resize:none" type="text" class="form-control" placeholder="Title"></textarea>

                                </div>

                                <span asp-validation-for="Category" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend" style="width:100%">
                                        <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<PostCategory>() ">
                                            <option placeholder="" value="">Category</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="entry-content ml-3">
                                    <h3>Content</h3>
                                </div>

                                <span asp-validation-for="Content" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <textarea asp-for="Content" rows="8" style="resize:none" type="text" class="form-control" placeholder="Here you can write your article..."></textarea>

                                </div>

                                <div class="entry-content ml-3">
                                    <h3>Tags</h3>
                                </div>

                                <span asp-validation-for="Tags" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <textarea asp-for="Tags" rows="2" style="resize:none" type="text" class="form-control" placeholder="Tags should contain only letters and be separated by one single whitespace and should not start or end with a whitespace. e.g. &quot;tag anotherTag thirdTag&quot;"></textarea>

                                </div>

                                <div class="entry-footer clearfix">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 mx-auto">
                                            <div class="form-group mb-0 mt-2 text-center">
                                                <input type="submit" value="Save" class="btn search_btn" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </article><!-- End blog entry -->
                </div><!-- End blog entries list -->
            </div>
        </div>
    </section><!-- End Blog Section -->
</main><!-- End #main -->