@using PetGuide.Data.Models.Enums
@model PetGuide.Web.ViewModels.Shelters.BaseShelterViewModel

<div class="entry-content ml-3">
    <h3>Shelter name</h3>
</div>

<span asp-validation-for="Name" class="text-danger"></span>
<div class="input-group form-group">
    <textarea asp-for="Name" rows="1" style="resize:none" type="text" class="form-control" placeholder="Shelter name"></textarea>

</div>

<div class="entry-content ml-3">
    <h3>Location</h3>
</div>

<span asp-validation-for="Location.District" class="text-danger"></span>
<div class="input-group form-group">
    <div class="input-group-prepend" style="width:100%">
        <select asp-for="Location.District" class="form-control" asp-items="Html.GetEnumSelectList<District>() ">
            <option placeholder="" value="">District</option>
        </select>
    </div>
</div>

<span asp-validation-for="Location.Street" class="text-danger"></span>
<div class="input-group form-group">
    <textarea asp-for="Location.Street" rows="1" style="resize:none" type="text" class="form-control" placeholder="Street"></textarea>
</div>

<span asp-validation-for="Location.AdditionalLocationInfo" class="text-danger"></span>
<div class="input-group form-group">
    <textarea asp-for="Location.AdditionalLocationInfo" rows="1" style="resize:none" type="text" class="form-control" placeholder="Additional Location Information"></textarea>
</div>

<div class="entry-content ml-3">
    <h3>Description</h3>
</div>

<span asp-validation-for="Description" class="text-danger"></span>
<div class="input-group form-group">
    <textarea asp-for="Description" rows="8" style="resize:none" type="text" class="form-control" placeholder="Here you can describe the shelter. e.g. Facilities, Garden, Shelter size, etc."></textarea>

</div>

<div class="entry-content ml-3">
    <h3>Activities</h3>
</div>

<span asp-validation-for="Activities" class="text-danger"></span>
<div class="input-group form-group">
    <textarea asp-for="Activities" rows="8" style="resize:none" type="text" class="form-control" placeholder="Please describe the shelter activities e.g. Preparing food, Grooming, Volunteers activities, etc."></textarea>

</div>