@model PetGuide.Web.ViewModels.Events.EventInputModel

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Add new Event</h2>
                </div>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 mx-auto pt-3 entries">

                    <article class="entry entry-single">

                        <div class="card-body p-0">

                            <form method="post" enctype="multipart/form-data">

                                <div class="entry-content ml-3">
                                    <h3>Event date</h3>
                                </div>

                                <div class="row">

                                    <span asp-validation-for="Date" class="text-danger"></span>
                                    <div class="input-group form-group col-6">
                                        <input asp-for="Date" type="date" class="form-control">

                                    </div>

                                    <span asp-validation-for="Time" class="text-danger"></span>
                                    <div class="input-group form-group col-6">
                                        <input asp-for="Time" type="time" class="form-control">

                                    </div>

                                </div>

                                <partial name="_AddEditPartial" model="@Model" />

                                <div class="entry-content ml-3">
                                    <h3>Upload pictures</h3>
                                </div>

                                <span asp-validation-for="Pictures" class="text-danger"></span>
                                <div class="input-group form-group">
                                    <input asp-for="Pictures" type="file" multiple="multiple" name="pictures" class="form-control">

                                </div>

                                <div class="entry-footer clearfix">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 mx-auto">
                                            <div class="form-group mb-0 mt-2 text-center">
                                                <input type="submit" value="Share" class="btn search_btn" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </article><!-- End blog entry -->
                </div><!-- End blog entries list -->
            </div>
        </div>
    </section><!-- End Blog Section -->
</main><!-- End #main -->

@section LoginRegisterAdd {
    <link href="~/css/login-register.css" type="text/css" rel="stylesheet" asp-append-version="true">
}