#comments {
    /*box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);*/
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-bottom: 1px dashed #DDDDDD;
	padding: 20px 0;
	height: 200px;
	width: -webkit-fill-available;
	margin: 0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

@media (max-width: 470px) {
	#comments .media img {
		left: 50%;
	}
}

.col-4-pets {
	position: relative;
	width: fit-content;
	padding-right: 10px;
	padding-left: 15px;
}

.col-8-pets {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 0px;
}

#comments .media img {
	max-width: 100%;
	height: -webkit-fill-available;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media p .ellipsis {
	text-overflow: ellipsis;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}
